<!DOCTYPE html>
<html>
<head>
  <title>Thinkpr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-main">

            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">thinkPR<!-- <img src="assets/img/logo-dark.png" class="img-responsive logo" alt=""> --></a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <%= link_to "About", about_path %>
                            </li>
                            <li class="dropdown">
                                 <%= link_to "Expertise", expertise_path %>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio.html">Portfolio 3 col</a></li>
                                    <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                                    <li><a href="portfolio-full.html">Portfolio Full width</a></li>
                                    <li><a href="portfolio-full-boxed.html">Full width boxed</a></li>                            
                                    <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                </ul>
                            </li>
                            <li class="">
                                <%= link_to "Clients", clients_path %>
                            </li>
                            <li class="">
                                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Showroom</a>
                            </li>
                            <li class= "">
                                <%= link_to "Blog", posts_path %>
                              
                            </li>
                             <li class= "">
                               <%= link_to "Contact", contact_path %>
                                
                            </li>
                            <li class="social-nav"><a href="http://www.facebook.com/Thinkprdk"><i class="ion-social-facebook"></i></a></li>
                            <li class="social-nav"><a href="http://www.twitter.com/thinkprdk"><i class="ion-social-twitter"></i></a></li>
                            <li class="social-nav"><a href="http://www.linkedin.com/company/think-pr-denmark-"><i class="ion-social-linkedin"></i></a></li>
                        </ul>

                    </div><!--/.nav-collapse -->
                </div><!--/.container-->
            </div><!--navigation end-->

        </header><!--header main end-->


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
<!--  <div class="space-70"></div>
 --> <footer id="footer-option">
              <div class="container">
                <div class="row">
                    <div class="col-md-3 margin-btm-20">
                        <div class="footer-col">
                            <h3>Newsletter</h3>
                            <p class="margin-btm-20">
                                Keep up on our always evolving Future updates. Enter your e-mail and subscribe to our newsletter.
                            </p>


<!--Mailchimp integration-->

                           <%= form_tag('emailapi/subscribe', class: "input-group", method: "post", id: "subscribe", remote: "true", 'data-type' => :json) do -%>
                            <div class="form-group">
                               <%= email_field(:email, :address, {class: "form-control", id: "subscribe-email", placeholder: "Enter your email"})%>
                            </div>
                                                                        <span class="input-group-btn">

                             <%= button_tag(type: 'submit', class: "btn theme-btn-color") do %> Go!
                             <% end %>
                             </span>
                           <% end %>
<!-- Mailchimp integration end -->

                        </div>
                    </div><!--footer col end-->



                    <div class="col-md-3 margin-btm-20">
                        <div class="footer-col margin-btm-20">
                            <h3>Latest tweet</h3>
                            <a href="#" class="tweet-ac hover-color">@rakesh_wd</a>
                            <div class="tweet-desc">
                                <i class="ion-social-twitter"></i>Bizwrap is right choice for your business project.its comes with new features and update in every month.
                            </div>
                            <a href="#" class="hover-color tweet-day">50 min ago</a>
                            <hr>
                        </div>
                        <div class="footer-col">
                            <a href="#" class="tweet-ac hover-color">@rakesh_wd</a>
                            <div class="tweet-desc">
                                <i class="ion-social-twitter"></i>Bizwrap is right choice for your business project.its comes with new features and update in every month.
                            </div>
                            <a href="#" class="hover-color tweet-day">1 day ago</a>
                        </div>
                    </div><!--footer col end-->
                    <div class="col-md-3 margin-btm-20">
                        <div class="footer-col margin-btm-20">
                            <h3>Follow us</h3>
                            <ul class=" list-inline social-btn">
                                <li><a href="http://www.facebook.com/Thinkprdk"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                                <li><a href="http://www.twitter.com/thinkprdk"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                                <li><a href="http://www.linkedin.com/company/think-pr-denmark-"><i class="ion-social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Connect On LinkedIn"></i></a></li>
                            </ul>
                        </div> 
                    </div><!--footer col end-->
                    <div class="col-md-3 margin-btm-20">
                        <div class="footer-col">
                            <h3>contact info</h3>
                            <p><i class="ion-home"></i> Kronprinsensgade 5, 2. sal, 
1114 København K</p>
                            <p><i class="ion-iphone"></i> [+45] 33 14 00 00</p>
                            <p><i class="ion-email"></i> info@thinkpr.dk</p>
                        </div>

                    </div><!--footer col end-->
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 footer-logo">
                            <a href="index.html">
                                <img src="assets/img/logo-white.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <p>&copy; copyright 2015. developed by <a href="http://www.blackboxdev.co" style="color:#777">blackbox dev.</p>
                        </div>
                        <div class="col-md-6 ">
                            <ul class="list-inline footer-nav">
                                <li><a href="/about">About</a></li>
                                <li><a href="/expertise">Expertise</a></li>
                                <li><a href="/clients">Clients</a></li>
                                <li><a href="/">Showroom</a></li>
                                <li><a href="/posts">Blog</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--footer main end-->


</body>
</html>
